include mixins/svg

block vars
	-
		var title = title || 'Home'
		var description = description || ''
		var image = image || ''
	-
		var html = {
			attrs: {
				lang: 'ru'
			},
			classList: []
		}
	-
		var body = {
			attrs: {},
			classList: []
		}
	-
		var meta = {
			appleMobileWebAppCapable: '',
			appleMobileWebAppStatusBarStyle: '',
			appleMobileWebAppTitle: '',
			appleTouchFullscreen: '',
			applicationName: '',
			charset: 'utf-8',
			description: description,
			keywords: [],
			msapplicationTileColor: '',
			msapplicationTileImage: '',
			msapplicationNotification: '',
			msapplicationSquare70x70logo: '',
			msapplicationSquare150x150logo: '',
			msapplicationSquare310x310logo: '',
			msapplicationWide310x150logo: '',
			ogDescription: description,
			ogImage: image,
			ogLocale: 'ru_RU',
			ogTitle: title,
			ogType: 'website',
			ogUrl: '',
			twitterCard: 'summary_large_image',
			twitterSite: '',
			twitterCreator: '',
			twitterTitle: title,
			twitterDescription: description,
			twitterImage: image,
			viewport: 'width=device-width',
			formatDetection: 'telephone=no',
			XUACompatible: 'IE=edge'
		}
	-
		var link = {
			appleTouchIcon: '',
			appleTouchIcon40x40: '',
			appleTouchIcon57x57: '',
			appleTouchIcon58x58: '',
			appleTouchIcon60x60: '',
			appleTouchIcon72x72: '',
			appleTouchIcon76x76: '',
			appleTouchIcon80x80: '',
			appleTouchIcon87x87: '',
			appleTouchIcon114x114: '',
			appleTouchIcon120x120: '',
			appleTouchIcon144x144: '',
			appleTouchIcon152x152: '',
			appleTouchIcon167x167: '',
			appleTouchIcon180x180: '',
			appleTouchIcon1024x1024: '',
			appleTouchIconPrecomposed: '',
			appleTouchIconPrecomposed40x40: '',
			appleTouchIconPrecomposed57x57: '',
			appleTouchIconPrecomposed58x58: '',
			appleTouchIconPrecomposed60x60: '',
			appleTouchIconPrecomposed72x72: '',
			appleTouchIconPrecomposed76x76: '',
			appleTouchIconPrecomposed80x80: '',
			appleTouchIconPrecomposed87x87: '',
			appleTouchIconPrecomposed114x114: '',
			appleTouchIconPrecomposed120x120: '',
			appleTouchIconPrecomposed144x144: '',
			appleTouchIconPrecomposed152x152: '',
			appleTouchIconPrecomposed167x167: '',
			appleTouchIconPrecomposed180x180: '',
			appleTouchIconPrecomposed1024x1024: '',
			icon: '',
			icon16x16: '',
			icon32x32: '',
			icon96x96: '',
			icon128x128: '',
			icon196x196: '',
			imageSrc: image,
			manifest: false,
			maskIcon: {
				href: '',
				color: ''
			}
		}

doctype html
html(class=html.classList)&attributes(html.attrs)
	head
		block head-start
		block meta
			if meta.charset
				meta(charset=meta.charset)
			if meta.XUACompatible
				meta(http-equiv="X-UA-Compatible" content=meta.XUACompatible)
			if meta.viewport
				meta(name="viewport" content=meta.viewport)
			if meta.formatDetection
				meta(name="format-detection" content=meta.formatDetection)
			if meta.description
				meta(name="description" content=meta.description)
			if meta.keywords.length
				meta(name="keywords" content=Array.isArray(meta.keywords) ? meta.keywords.join(', ') : meta.keywords)
			if meta.ogType && (meta.ogUrl || meta.ogTitle || meta.ogDescription || meta.ogImage)
				meta(name="og:type" content=meta.ogType)
			if meta.ogUrl
				meta(name="og:url" content=meta.ogUrl)
			if meta.ogLocale && (meta.ogUrl || meta.ogTitle || meta.ogDescription || meta.ogImage)
				meta(name="og:locale" content=meta.ogLocale)
			if meta.ogTitle
				meta(name="og:title" content=meta.ogTitle)
			if meta.ogDescription
				meta(name="og:description" content=meta.ogDescription)
			if meta.ogImage
				meta(name="og:image" content=meta.ogImage)
			if meta.twitterCard && (meta.twitterSite || meta.twitterCreator || meta.twitterTitle || meta.twitterDescription || meta.twitterImage)
				meta(name="twitter:card" content=meta.twitterCard)
			if meta.twitterSite
				meta(name="twitter:site" content=meta.twitterSite)
			if meta.twitterCreator
				meta(name="twitter:creator" content=meta.twitterCreator)
			if meta.twitterTitle
				meta(name="twitter:title" content=meta.twitterTitle)
			if meta.twitterDescription
				meta(name="twitter:description" content=meta.twitterDescription)
			if meta.twitterImage
				meta(name="twitter:image" content=meta.twitterImage)
			if meta.appleMobileWebAppCapable
				meta(name="apple-mobile-web-app-capable" content=meta.appleMobileWebAppCapable)
			if meta.appleMobileWebAppStatusBarStyle
				meta(name="apple-mobile-web-app-status-bar-style" content=meta.appleMobileWebAppStatusBarStyle)
			if meta.appleMobileWebAppTitle
				meta(name="apple-mobile-web-app-title" content=meta.appleMobileWebAppTitle)
			if meta.applicationName
				meta(name="application-name" content=meta.applicationName)
			if meta.msapplicationTileColor
				meta(name="msapplication-TileColor" content=meta.msapplicationTileColor)
			if meta.msapplicationTileImage
				meta(name="msapplication-TileImage" content=meta.msapplicationTileImage)
			if meta.msapplicationSquare70x70logo
				meta(name="msapplication-square70x70logo" content=meta.msapplicationSquare70x70logo)
			if meta.msapplicationSquare150x150logo
				meta(name="msapplication-square150x150logo" content=meta.msapplicationSquare150x150logo)
			if meta.msapplicationWide310x150logo
				meta(name="msapplication-wide310x150logo" content=meta.msapplicationWide310x150logo)
			if meta.msapplicationSquare310x310logo
				meta(name="msapplication-square310x310logo" content=meta.msapplicationSquare310x310logo)
			if meta.msapplicationNotification
				meta(name="msapplication-notification" content=meta.msapplicationNotification)
		title
			= title
		block links
			if link.appleTouchIconPrecomposed
				link(rel="apple-touch-icon-precomposed" href=link.appleTouchIconPrecomposed)
			if link.appleTouchIconPrecomposed40x40
				link(rel="apple-touch-icon-precomposed" href=link.appleTouchIconPrecomposed40x40 sizes="40x40")
			if link.appleTouchIconPrecomposed57x57
				link(rel="apple-touch-icon-precomposed" href=link.appleTouchIconPrecomposed57x57 sizes="57x57")
			if link.appleTouchIconPrecomposed58x58
				link(rel="apple-touch-icon-precomposed" href=link.appleTouchIconPrecomposed58x58 sizes="58x58")
			if link.appleTouchIconPrecomposed60x60
				link(rel="apple-touch-icon-precomposed" href=link.appleTouchIconPrecomposed60x60 sizes="60x60")
			if link.appleTouchIconPrecomposed72x72
				link(rel="apple-touch-icon-precomposed" href=link.appleTouchIconPrecomposed72x72 sizes="72x72")
			if link.appleTouchIconPrecomposed76x76
				link(rel="apple-touch-icon-precomposed" href=link.appleTouchIconPrecomposed76x76 sizes="76x76")
			if link.appleTouchIconPrecomposed80x80
				link(rel="apple-touch-icon-precomposed" href=link.appleTouchIconPrecomposed80x80 sizes="80x80")
			if link.appleTouchIconPrecomposed87x87
				link(rel="apple-touch-icon-precomposed" href=link.appleTouchIconPrecomposed87x87 sizes="87x87")
			if link.appleTouchIconPrecomposed114x114
				link(rel="apple-touch-icon-precomposed" href=link.appleTouchIconPrecomposed114x114 sizes="114x114")
			if link.appleTouchIconPrecomposed120x120
				link(rel="apple-touch-icon-precomposed" href=link.appleTouchIconPrecomposed120x120 sizes="120x120")
			if link.appleTouchIconPrecomposed144x144
				link(rel="apple-touch-icon-precomposed" href=link.appleTouchIconPrecomposed144x144 sizes="144x144")
			if link.appleTouchIconPrecomposed152x152
				link(rel="apple-touch-icon-precomposed" href=link.appleTouchIconPrecomposed152x152 sizes="152x152")
			if link.appleTouchIconPrecomposed167x167
				link(rel="apple-touch-icon-precomposed" href=link.appleTouchIconPrecomposed167x167 sizes="167x167")
			if link.appleTouchIconPrecomposed180x180
				link(rel="apple-touch-icon-precomposed" href=link.appleTouchIconPrecomposed180x180 sizes="180x180")
			if link.appleTouchIconPrecomposed1024x1024
				link(rel="apple-touch-icon-precomposed" href=link.appleTouchIconPrecomposed1024x1024 sizes="1024x1024")
			if link.appleTouchIcon
				link(rel="apple-touch-icon" href=link.appleTouchIcon)
			if link.appleTouchIcon40x40
				link(rel="apple-touch-icon" href=link.appleTouchIcon40x40 sizes="40x40")
			if link.appleTouchIcon57x57
				link(rel="apple-touch-icon" href=link.appleTouchIcon57x57 sizes="57x57")
			if link.appleTouchIcon58x58
				link(rel="apple-touch-icon" href=link.appleTouchIcon58x58 sizes="58x58")
			if link.appleTouchIcon60x60
				link(rel="apple-touch-icon" href=link.appleTouchIcon60x60 sizes="60x60")
			if link.appleTouchIcon72x72
				link(rel="apple-touch-icon" href=link.appleTouchIcon72x72 sizes="72x72")
			if link.appleTouchIcon76x76
				link(rel="apple-touch-icon" href=link.appleTouchIcon76x76 sizes="76x76")
			if link.appleTouchIcon80x80
				link(rel="apple-touch-icon" href=link.appleTouchIcon80x80 sizes="80x80")
			if link.appleTouchIcon87x87
				link(rel="apple-touch-icon" href=link.appleTouchIcon87x87 sizes="87x87")
			if link.appleTouchIcon114x114
				link(rel="apple-touch-icon" href=link.appleTouchIcon114x114 sizes="114x114")
			if link.appleTouchIcon120x120
				link(rel="apple-touch-icon" href=link.appleTouchIcon120x120 sizes="120x120")
			if link.appleTouchIcon144x144
				link(rel="apple-touch-icon" href=link.appleTouchIcon144x144 sizes="144x144")
			if link.appleTouchIcon152x152
				link(rel="apple-touch-icon" href=link.appleTouchIcon152x152 sizes="152x152")
			if link.appleTouchIcon167x167
				link(rel="apple-touch-icon" href=link.appleTouchIcon167x167 sizes="167x167")
			if link.appleTouchIcon180x180
				link(rel="apple-touch-icon" href=link.appleTouchIcon180x180 sizes="180x180")
			if link.appleTouchIcon1024x1024
				link(rel="apple-touch-icon" href=link.appleTouchIcon1024x1024 sizes="1024x1024")
			if link.icon
				link(rel="icon" href=link.icon)
			if link.icon16x16
				link(rel="icon" href=link.icon16x16 sizes="16x16")
			if link.icon32x32
				link(rel="icon" href=link.icon32x32 sizes="32x32")
			if link.icon96x96
				link(rel="icon" href=link.icon96x96 sizes="96x96")
			if link.icon128x128
				link(rel="icon" href=link.icon128x128 sizes="128x128")
			if link.icon196x196
				link(rel="icon" href=link.icon196x196 sizes="196x196")
			if link.manifest
				link(rel="manifest" href=link.manifest)
			if link.maskIcon.href
				link(rel="mask-icon" href=link.maskIcon.href color=link.maskIcon.color)
			link(rel="stylesheet" href="css/main.css?v=" + Date.now())
		block head-end
	body(class=body.classList)&attributes(body.attrs)
		block body-start
		block content
		block scripts
			script(src="js/vendor.js?v=" + Date.now())
			script(src="js/main.js?v=" + Date.now())
		block body-end
