*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: $font-family-exo2;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: $color-body;
	position: relative;
}

div,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
select,
input,
textarea,
img,
dl,
dt,
dd,
table,
div,
td,
theder,
button,
blockquote,
article,
aside,
audio,
canvas,
command,
datalist,
details,
figcaption,
figure,
footer,
header,
hgroup,
keygen,
mark,
menu,
meter,
main,
nav,
output,
progress,
rp,
rt,
ruby,
section,
source,
summary,
time,
video,
wbr {
    padding: 0;
    margin: 0;
}

article,
aside,
audio,
canvas,
command,
datalist,
details,
figcaption,
figure,
footer,
header,
hgroup,
keygen,
mark,
menu,
main,
meter,
nav,
output,
progress,
rp,
rt,
ruby,
section,
source,
summary,
time,
video,
wbr,
address {
    display: block;
    font-style: normal;
}

ul,
ol,
li{
	list-style: none;
}

*:active,
*:focus,
input,
textarea,
button {
    outline: none !important;
    -moz-appearance: none;
    -webkit-appearance: none;
}

a {
    transition: all 0.3s ease;
    color: $color-body;
    text-decoration: none;
    &:hover {
        color: $color-azure-radiance;
    }
}

.cf {
    &:before,
    &:after {
        content: '';
        display: block;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

.b-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    &--middle{
	    align-items: center;
    }
    &--space-between{
	    justify-content: space-between;
    }
    &--bottom{
        align-items: flex-end;
    }
    &--end,
    &--end-col{
        align-items: flex-end;
    }
    &--middle-col,
    &--bottom-col,
    &--end-col{
        flex-direction: column;
    }
    &--middle-col{
        justify-content: center;
    }
    &--bottom-col{
        justify-content: flex-end;
    }
}

.b-center{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
	z-index: 10;
}

// entry
.b-entry{
	p{
		padding: 22px 0;
	}
	ul{
		padding-bottom: 22px;
		font-size: 18px;
		line-height: 22px;
		color: $color-dove-gray1;
		li{
			padding: 0 0 26px 40px;
			position: relative;
			&:before{
				width: 20px;
				height: 1px;
				display: block;
				content: '';
				background: $color-azure-radiance;
				position: absolute;
				top: 12px;
				left: 0;
			}
		}
	}
}

// tit
.b-tit{
	font-weight: 400;
	&--fz36{
		font-size: 36px;
		line-height: 54px;
		letter-spacing: 7px;
		strong{
			font-weight: 400;
			color: $color-azure-radiance;
		}
	}
	&--fz24{
		font-size: 24px;
		line-height: 26px;
	}
}

// form
::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

:focus {
    &::-webkit-input-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    &::-moz-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    &:-moz-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    &:-ms-input-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
}

.b-input{
	width: 100%;
	height: 48px;
	padding: 0 38px 0 34px;
	display: block;
	border: 1px solid $color-mercury;
	background: $color-alabaster;
	border-radius: 25px;
	font-size: 14px;
	font-weight: 400;
	line-height: 46px;
	color: $color-dove-gray2;
	position: relative;
}

// btn
.b-btn{
	border: none;
	background: none;
	display: inline-block;
	vertical-align: middle;
	transition: all 0.3s ease;
	font-family: $font-family-exo2;
	position: relative;
	cursor: pointer;
	&--bd{
		min-width: 160px;
		height: 50px;
		margin-right: 23px;
		padding: 0 38px 0 34px;
		border: 2px solid $color-white;
		background: none;
		border-radius: 25px;
		font-size: 16px;
		font-weight: 400;
		line-height: 45px;
		color: $color-body;
		text-align: center;
		position: relative;
		&:before{
			width: 48px;
			height: 2px;
			margin-top: -1px;
			display: block;
			content: '';
			background: $color-azure-radiance;
			transition: all 0.3s ease;
			position: absolute;
			top: 50%;
			right: -25px;
		}
		&:hover{
			background: $color-white;
			&:before{
				opacity: 0;
				right: 0;
			}
		}
		&-tm-blue{
			border-color: $color-azure-radiance;
			color: $color-azure-radiance;
			&:hover{
				background: $color-azure-radiance;
				color: $color-white;
			}
		}
		&-sz-sm{
			height: 48px;
			line-height: 43px;
		}
		&-sz-lg{
			min-width: 200px;
		}
	}
	&--arrow{
		padding-right: 62px;
		font-size: 24px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: $color-white;
		.icon{
			margin-top: -7px;
			transition: all 0.3s ease;
			display: block;
			font-size: 17px;
			color: $color-azure-radiance;
			position: absolute;
			top: 50%;
			right: 0;
		}
		&:hover{
			color: $color-white;
			.icon{
				right: 20px;
			}
		}
		&-sz-lg {
			padding-right: 90px;
			&:hover{
				.icon{
					right: 30px;
				}
			}
		}
		&-sz-sm {
			padding-right: 42px;
			.icon{
				font-size: 16px;
				margin-top: -7px;
			}
			&:hover{
				.icon{
					right: 10px;
				}
			}
		}
	}
	&--send{
		width: 41px;
		height: 41px;
		border: none;
		background: $color-azure-radiance;
		box-shadow: -4px 4px 10px rgba(14, 122, 255, .5);
		border-radius: 50%;
		.icon{
			width: 100%;
			height: 100%;
			display: block;
			font-size: 14px;
			line-height: 41px;
			text-align: center;
			color: $color-white;
			position: absolute;
			top: 0;
			left: 0;
		}
		&:hover{
			opacity: 0.8;
		}
	}
}
// icon
.icon {
	font-family: $font-family-icomoon !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-arrow:before {
	content: "\e900";
}
.icon-cityscape:before {
	content: "\e901";
}
.icon-favorites:before {
	content: "\e902";
}
.icon-house:before {
	content: "\e903";
}
.icon-mail:before {
	content: "\e904";
}
.icon-mark:before {
	content: "\e905";
}
.icon-mark-map:before {
	content: "\e906";
}
.icon-phone:before {
	content: "\e907";
}
.icon-send:before {
	content: "\e908";
}
.icon-skyscraper:before {
	content: "\e909";
}
.icon-trophy:before {
	content: "\e90a";
}
