@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,500,700&subset=cyrillic');
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?1gek29');
  src:  url('../fonts/icomoon.eot?1gek29#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1gek29') format('truetype'),
    url('../fonts/icomoon.woff?1gek29') format('woff'),
    url('../fonts/icomoon.svg?1gek29#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}