// CONTENT
// section types
.b-type-post{
	height: 400px;
	padding: 0 70px 0 14%;
	&:before{
		top: 23px;
		bottom: 27px;
		left: 25px;
		right: 35px;
	}
	&__tit{
		padding-right: 0;
	}
	&__numb{
		font-size: 90px;
		line-height: 80px;
	}
}