// FOOTER
.b-footer{
	&__col-left{
		width: 250px;
	}
}

// CONTENT
// section top
.b-top-home{
	&__btn-video{
		text-align: right;
		left: auto;
		right: 0;
	}
}

// section client
.b-post-clients{
	&__head{
		padding-right: 100px;
	}
	&__img{
		width: calc(50% + 40px);
		right: calc(50% + 40px);
	}
	&--right-img{
		.b-post-clients__txt{
			padding-left: 80px;
		}
		.b-post-clients__head{
			padding-right: 0;
			.icon{
				left: -80px;
			}
		}
		.b-post-clients__img{
			width: calc(50% + 40px);
			left: calc(50% + 40px);
			right: auto;
		}
	}
}

// section types
.b-type-post{
	height: 350px;
	padding: 0 40px;
	&:before{
		top: 13px;
		bottom: 17px;
		left: 15px;
		right: 25px;
	}
	&__tit{
		padding-bottom: 20px;
		font-size: 20px;
		line-height: 22px;
	}
	&__numb{
		font-size: 70px;
		line-height: 60px;
		top: 23px;
		right: 40px;
	}
}

// section about
.b-about-home{
	font-size: 20px;
	line-height: 44px;
	&__img-right{
		left: calc(50% + 120px);
	}
	&__img-bot{
		width: calc(50% - 60px);
	}
	&__txt{
		padding-right: calc(50% - 80px);
	}
	small{
		font-size: 14px;
		line-height: 30px;
	}
}

// section news
.b-news-grid{
	margin: 0 -15px;
	&__col{
		padding-left: 15px;
		padding-right: 15px;
	}
}

.b-news-post{
	&:hover{
		.b-news-post__img{
			left: -30px;
			right: -30px;
		}
	}
}
