.b-page{
	&__body{
		min-height: calc(100vh - 120px);
	}
	&__footer{
		min-height: 120px;
	}
}

// HEADER
//menu
.b-btn-menu{
	display: block;
}
.b-main-nav{
	width: 100%;
	height: 100vh;
	padding: 0 20px;
	display: none;
	background: $color-white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	&:before{
		width: 1px;
		height: 100vh;
		margin-left: -8px;
		display: inline-block;
		vertical-align: middle;
		content: '';
		position: relative;
	}
	&__close{
		display: block;
	}
	&__list{
		width: 99%;
		display: inline-block;
		vertical-align: middle;
	}
	&__item{
		margin-left: 0;
		padding: 15px 0;
		display: block;
		font-size: 32px;
		line-height: 32px;
		>a{
			height: auto;
			display: inline-block;
			line-height: 32px;
			&:before{
				display: none;
			}
			&:hover{
				color: $color-azure-radiance;
			}
		}
		&.has-child{
			a{
				padding-right: 27px;
				&:after{
					margin-top: 0;
					transform: scale(1.2);
				}	
			}
		}
		&.active{
			>a{
				color: $color-azure-radiance;
				&:before{
					right: 0;
				}
			}
		}
	}
	&__sub-list{
		width: auto;
		margin-top: 0;
		padding: 15px 20px 0;
		background: none;
		box-shadow: none;
		position: relative;
		top: 0;
		left: 0;
		&:before{
			display: none;
		}
	}
	&__sub-item{
		padding: 10px 0;
	}
}

// FOOTER
.b-footer{
	display: block;
	text-align: center;
	&__col-left{
		width: 250px;
		margin: 0 auto;
		display: block;
	}
	&__col-right{
		display: none;
	}
	&__logo{
		margin-bottom: 18px;
	}
	&__phone{
		padding: 0 0 18px;
	}
	&__newsletter{
		&-tit{
			padding-left: 0;
		}
	}
}
//form
.b-newsletter-form{
	margin: 0 auto;
}


// CONTENT
// section client
.b-post-clients{
	&__txt{
		padding-left: calc(50% - 20px);
	}
	&__head{
		.icon{
			margin-top: -30px;
			font-size: 50px;
			top: 50%;
		}
	}
	&__img{
		width: calc(50% + 60px);
		right: calc(50% + 60px);
	}
	&--right-img{
		.b-post-clients__txt{
			padding-left: 70px;
		}
		.b-post-clients__head{
			.icon{
				left: -70px;
			}
		}
		.b-post-clients__img{
			width: calc(50% + 60px);
			left: calc(50% + 60px);
			right: auto;
		}
	}
}

// section types
.b-type-row{
	&__col{
		width: auto;
		float: none;
	}
}
.b-type-post{
	height: 440px;
	padding: 0 80px 12px 100px;
	&:before{
		top: 28px;
		bottom: 32px;
		left: 30px;
		right: 40px;
	}
	&__tit{
		padding: 0 115px 35px 0;
		font-size: 24px;
		line-height: 26px;
	}
	&__numb{
		font-size: 108px;
		line-height: 100px;
		top: 33px;
		right: 56px;
	}
}

// section about
.b-about-home{
	font-size: 18px;
	line-height: 40px;
	&__img-right{
		left: calc(50% + 110px);
	}
	&__img-bot{
		display: none;
	}
	&__txt{
		padding-right: calc(50% - 70px);
	}
	small{
		font-size: 13px;
		line-height: 26px;
	}
}

// section news
.b-news-grid{
	margin: 0 -10px;
	&__col{
		padding-left: 10px;
		padding-right: 10px;
	}
}

.b-news-post{
	padding-top: 239px;
	font-size: 14px;
	line-height: 30px;
	&__btn{
		padding: 0 20px;
	}
	&__img{
		height: 201px;
	}
	&__tit{
		font-size: 20px;
		line-height: 24px;
	}
	&:hover{
		.b-news-post__img{
			height: 221px;
			top: -10px;
			left: -20px;
			right: -20px;
		}
	}
}