// COLORS
$color-black: #000;
$color-white: #fff;
$color-body: #393939;
$color-dove-gray1: #666;
$color-dove-gray2: #707070;
$color-azure-radiance: #0E7AFF;
$color-biscay: #1e3162;
$color-sinbad: #a6ccd9;
$color-whisper: #eee7ef;
$color-gallery: #eee;
$color-alto: #d0d0d0;
$color-alabaster: #f9f9f9;
$color-mercury: #e6e6e6;

// FONTS
$font-family-exo2: 'Exo 2', sans-serif;
$font-family-icomoon: 'icomoon';

// BREAKPOINTS
$lg: 1400px;
$md: 1200px;
$sm: 990px;
$xs: 767px;
$xxs: 479px;