.b-center{
	padding: 0 15px;
}
// entry
.b-entry{
	p{
		padding: 12px 0;
	}
}
// tit
.b-tit{
	&--fz36{
		font-size: 24px;
		line-height: 34px;
		letter-spacing: 1px;
	}
	&--fz24{
		font-size: 20px;
		line-height: 24px;
	}
}
// btn
.b-btn{
	&--arrow{
		padding-right: 50px;
		font-size: 17px;
		letter-spacing: 1px;
		&:hover{
			.icon{
				right: 10px;
			}
		}
		&-sz-lg {
			padding-right: 50px;
			&:hover{
				.icon{
					right: 10px;
				}
			}
		}
	}
}

.b-page{
	&__header{
		>*{
			height: 75px;
		}
	}
	&__body{
		padding-top: 75px;
	}
}

// HEADER
//menu
.b-main-nav{
	&__close{
		top: 20px;
		right: 15px;
	}
	&__item{
		padding: 5px 0;
		font-size: 16px;
		line-height: 16px;
		>a{
			line-height: 16px;
		}
		&.has-child{
			a{
				padding-right: 17px;
				&:after{
					margin-top: 0;
					transform: scale(1);
				}	
			}
		}
	}
	&__sub-list{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	&__sub-item{
		padding: 2px 0;
	}
}

// CONTENT
// section top
.b-top-home{
	min-height: 100vh;
	padding: 40px 0 110px;
	&__entry{
		padding-bottom: 30px;	
	}
	&__tit{
		padding-bottom: 20px;
		font-size: 20px;
		line-height: 34px;
		letter-spacing: 0;
	}
	&__img{
		display: none;
	}
	&__btn-video{
		width: 100%;
		height: 80px;
		padding: 0 20px;
		line-height: 71px;
		text-align: left;
		left: 0;
	}
}
.b-post-border-row{
	&__col{
		padding: 10px 0;
		float: none;
	}
}
.b-post-border{
	width: auto;
	height: auto;
	margin: 0 auto;
	padding: 10px 24px 18px;
	text-align: center;
	>*{
		display: inline-block;
		vertical-align: middle;
	}
	&:after{
		top: -10px;
		right: -10px;
	}
	.icon{
		height: 80px;
		margin-bottom: 0;
		padding-right: 20px;
		line-height: 80px;
	}
}

// section client
.b-clients-home{
	padding: 50px 0 0;
	&__tit{
		padding-bottom: 33px;
	}
}

.b-post-clients{
	margin-bottom: 50px;
	&__row{
		padding-top: 30px;
		padding-bottom: 30px;
		&:before{
			display: none;
		}
	}
	&__txt{
		padding: 0;
	}
	&__img{
		width: 100%;
		right: 0;
		opacity: 0.15;
	}
	&--right-img{
		.b-post-clients__txt{
			padding: 0;
		}
		.b-post-clients__head{
			padding-right: 100px;
			.icon{
				left: auto;
				right: 0;
			}
		}
		.b-post-clients__img{
			width: 100%;
			left: 0;
			right: auto;
		}
	}
}

// section types
.b-type-home{
	padding: 0 0 50px;
	&__tit{
		padding-bottom: 33px;
	}
}

.b-type-post{
	height: auto;
	min-height: 150px;
	padding: 90px 40px 40px;
	display: block;
	font-size: 16px;
	line-height: 22px;
	&:before{
		top: 13px;
		bottom: 13px;
		left: 15px;
		right: 15px;
	}
	&__tit{
		padding: 0 0 20px;
		font-size: 18px;
		line-height: 20px;
	}
	&__numb{
		font-size: 60px;
		line-height: 50px;
		top: 23px;
		right: 30px;
	}
}

// section about
.b-about-home{
	padding: 0;
	font-size: 16px;
	line-height: 30px;
	&__img-right{
		box-shadow: none;
		left: 0;
		top: 0;
		bottom: 0;
		opacity: 0.15;
	}
	&__txt{
		padding: 30px 0 30px;
	}
	&__btn{
		height: 80px;
		line-height: 72px;
		&:before{
			width: auto;
			left: -15px;
			right: -15px;
		}
	}
	small{
		line-height: 22px;
	}
}

// section news
.b-news-home{
	padding: 50px 0;
	&__head{
		padding-bottom: 14px;
		display: block;
	}
	.b-tit{
		padding-bottom: 20px;
	}
}

.b-news-grid{
	margin: 0;
	&__col{
		width: auto;
		max-width: 360px;
		margin: 0 auto;
		padding-left: 0;
		padding-right: 0;
		float: none;
	}
}

.b-news-post{
	padding-top: 279px;
	&__img{
		height: 241px;
	}
	&:hover{
		.b-news-post__img{
			height: 261px;
			top: -10px;
			left: -15px;
			right: -15px;
		}
	}
}

// section contacts
.b-contacts-home{
	&__row{
		height: 480px;
		padding-bottom: 0;
		align-items: center;
	}
}

.b-post-contact{
	padding: 20px 25px 14px;
	font-size: 16px;
	line-height: 20px;
	&__tit{
		padding-bottom: 16px;
	}
	&__item{
		padding-bottom: 16px;
		.icon{
			top: 3px;
			&.icon-mark{
				left: 1px;
			}
			&.icon-mail{
				top: 5px;
			}
			&.icon-house{
				top: 3px;
			}
			&.icon-phone{
				top: 3px;
			}
		}
	}
}