// stylelint-disable at-rule-empty-line-before

@import "variables";
@import "functions";
@import "mixins";
@import "sprites";
@import "fonts";
@import "vendor";
@import "base";

.b-page{
	position: relative;
	overflow: hidden;
	&__header{
		width: 100%;
		transition: all 0.3s ease;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		>*{
			height: 100px;
			transition: all 0.3s ease;
		}
		&.b-fix-header{
			height: 75px;
			box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
			>*{
				height: 75px;
			}
		}
	}
	&__body{
		min-height: calc(200vh - 320px);
		padding-top: 100px;
		position: relative;
		z-index: 3;
	}
	&__footer{
		min-height: 320px;
		position: relative;
		z-index: 2;
	}
}
// HEADER
.b-header{
	background: $color-white;
	&__col{
		position: relative;
	}
}
// logo
.b-logo{
	position: relative;
	&__link{
		width: 186px;
		height: 49px;
		display: inline-block;
		text-indent: -9999em;
		background: 0 0 url('../images/svg/logo.svg') no-repeat;
		background-size: 100% 100%;
		overflow: hidden;
		position: relative;
	}
	svg{
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}
}
// menu
.b-btn-menu {
    width: 35px;
    height: 28px;
    padding: 1px 0;
    margin-top: -15px;
    display: none;
    text-indent: -9999px;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 10;
    span {
        width: 100%;
        height: 4px;
        display: block;
        margin-top: -2px;
        background: $color-biscay;
        transition: all 0.3s ease;
        position: absolute;
        top: 50%;
        left: 0;
        &:before,
        &:after {
            width: 100%;
            height: 4px;
            display: block;
            content: '';
            background: $color-biscay;
            transition: all 0.3s ease;
            position: absolute;
            left: 0;
        }
        &:before {
            top: -10px;
        }
        &:after {
            bottom: -10px;
        }
    }
    &:hover {
        span {
            width: 23px;
            height: 23px;
            margin: 0;
            top: 0;
            &:after,
            &:before {
                width: 10px;
                height: 10px;
                left: 25px;
            }
            &:before {
                top: 3px;
            }
            &:after {
                bottom: -2px;
            }
        }
    }
}
.b-btn-close {
    width: 34px;
    height: 34px;
    text-indent: -9999px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    &:before,
    &:after {
        width: 100%;
        height: 4px;
        margin-top: -2px;
        display: block;
        content: '';
        background: $color-biscay;
        transition-delay: 0, 0.3s;
        position: absolute;
        top: 50%;
        left: 0;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}
.b-main-nav{
	&__close{
		display: none;
		position: absolute;
		top: 34px;
		right: 20px;
		z-index: 10;
	}
	&__item{
		margin-left: 58px;
		display: inline-block;
		vertical-align: top;
		position: relative;
		>a{
			height: 68px;
			display: block;
			line-height: 62px;
			white-space: nowrap;
			color: $color-body;
			position: relative;
			overflow: hidden;
			&:before{
				width: 100%;
				height: 2px;
				display: block;
				content: '';
				background: $color-azure-radiance;
				transition: all 0.3s ease;
				position: absolute;
				top: 0;
				right: 100%;
			}
		}
		&:first-child{
			margin-left: 0;
		}
		&.has-child{
			>a{
				padding-right: 17px;
				&:after{
					margin-top: -3px;
					@include triangle(to bottom, 9px, 4px, $color-body);
					display: block;
					content: '';
					position: absolute;
					top: 50%;
					right: 0;
				}
			}
			&:hover{
				a{
					&:after{
						@include triangle(to top, 9px, 4px, $color-body);
					}
				}
			}
		}
		&.active{
			>a{
				color: $color-body;
				&:before{
					right: 0;
				}
			}
		}
		&:hover{
			a{
				color: $color-body;
				&:before{
					right: 0;
				}
			}
		}
	}
	&__sub-list{
		width: 200px;
		margin-top: 15px;
		padding: 15px 20px;
		display: none;
		background: $color-white;
		box-shadow: 0 2px 15px rgba(0, 0, 0, .2);
		position: absolute;
		top: 100%;
		left: -20px;
		&:before{
			@include triangle(to top, 20px, 10px, $color-white);
			display: block;
			content: '';
			position: absolute;
			top: -10px;
			left: 20px;
		}
	}
	&__sub-item{
		padding: 3px 0;
		a{
			color: $color-body;
			&:hover{
				color: $color-azure-radiance;
			}
		}
	}
}

// FOOTER
.b-footer{
	padding: 35px 0;
	border-top: 1px solid $color-gallery;
	background: $color-white;
	&__row{
		width: 100%;
		display: table;
		>*{
			display: table-cell;
			vertical-align: top;
		}
	}
	&__col-left{
		width: 300px;
	}
	&__col-right{
		padding-top: 7px;
	}
	&__logo{
		margin-bottom: 28px;
	}
	&__phone{
		padding: 0 0 28px 60px;
		color: $color-biscay;
	}
	&__newsletter{
		position: relative;
		&-tit{
			padding: 0 0 17px 60px;
			color: $color-azure-radiance;
		}
	}
}
//form
.b-newsletter-form{
	max-width: 200px;
	position: relative;
	&__input{
		padding-left: 59px;
		z-index: 1;
	}
	&__btn{
		position: absolute;
		top: 4px;
		left: 4px;
		z-index: 2;
	}
}
// menu
.b-secont-nav{
	&__item{
		letter-spacing: 1px;
		>a{
			padding-bottom: 18px;
			display: inline-block;
			color: $color-body;
			&:hover{
				color: $color-azure-radiance;
			}
		}
		&:first-child{
			padding-left: 0;
		}
		&.active{
			>a{
				color: $color-azure-radiance;
			}
		}
	}
	&__sub-item{
		padding-bottom: 8px;
		font-size: 14px;
		letter-spacing: 0;
		a{
			color: $color-dove-gray2;
			&:hover{
				color: $color-body;
			}
		}
		&.active{
			a{
				color: $color-body;
			}
		}
	}
}

// CONTENT
// section top
.b-top-home{
	min-height: 980px;
	padding-top: 177px;
	background: $color-sinbad;
	position: relative;
	overflow: hidden;
	&__entry{
		padding-bottom: 110px;	
	}
	&__tit{
		padding-bottom: 95px;
		font-size: 36px;
		font-weight: 700;
		line-height: 54px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: $color-white;
	}
	&__img{
		width: 100%;
		position: absolute;
		bottom: 0;
		left: calc(50% + 221px);
		z-index: 1;
		img{
			max-width: 100%;
			display: block;
		}
	}
	&__btn-video{
		height: 100px;
		padding: 0 20px 0 99px;
		background: $color-body;
		line-height: 91px;
		position: absolute;
		bottom: 0;
		left: calc(50% + 120px);
		right: 0;
		z-index: 12;
	}
}
.b-post-border-row{
	&__col{
		padding-left: 40px;
		float: left;
		&:first-child{
			padding-left: 0;
		}
	}
}
.b-post-border{
	width: 160px;
	height: 160px;
	padding: 28px 24px;
	font-size: 18px;
	color: $color-body;
	position: relative;
	&:before,
	&:after{
		width: 100%;
		height: 100%;
		display: block;
		content: '';
		position: absolute;
		z-index: 1;
	}
	&:before{
		border: 2px solid $color-azure-radiance;
		top: 0;
		right: 0;
		z-index: 2;
	}
	&:after{
		border: 1px solid $color-mercury;
		top: -10px;
		right: -10px;
	}
	>*{
		z-index: 3;
	}
	strong{
		padding-bottom: 3px;
		display: block;
		font-weight: 500;
	}
	.icon{
		margin-bottom: 13px;
		font-size: 40px;
		color: $color-azure-radiance;
		position: relative;
	}
}

// section client
.b-clients-home{
	padding: 99px 0 0;
	&__tit{
		padding-bottom: 67px;
	}
}
.b-post-clients{
	position: relative;
	&__row{
		&:before{
			width: 1px;
			height: 560px;
			margin-left: -10px;
			display: inline-block;
			vertical-align: middle;
			content: '';
			position: relative;
		}
	}
	&__txt{
		padding-left: calc(50% + 20px);
		display: inline-block;
		vertical-align: middle;
	}
	&__head{
		margin-bottom: 16px;
		padding: 17px 120px 23px 0;
		display: inline-block;
		position: relative;
		.icon{
			font-size: 59px;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	&__img{
		width: calc(50% + 120px);
		height: 100%;
		position: absolute;
		top: 0;
		right: calc(50% + 120px);
		overflow: hidden;
		img{
			width: auto;
		    height: auto;
		    max-height: none;
		    max-width: none;
		    min-height: 100%;
		    min-width: 100%;
		    transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		    -webkit-transform: translate(-50%, -50%);
		    position: absolute;
		    top: 50%;
		    left: 50%;
		}
	}
	&--right-img{
		.b-post-clients__txt{
			padding-left: 100px;
			padding-right: calc(50% + 20px);
		}
		.b-post-clients__head{
			padding-right: 0;
			.icon{
				left: -100px;
				right: auto;
			}
		}
		.b-post-clients__img{
			left: calc(50% + 120px);
			right: auto;
		}
	}
}

// section types
.b-type-home{
	padding: 98px 0 120px;
	&__tit{
		padding-bottom: 68px;
	}
}
.b-type-row{
	&__col{
		width: 33.33%;
		float: left;
		position: relative;
	}
}
.b-type-post{
	height: 440px;
	padding: 0 80px 12px 15%;
	background: $color-gallery;
	transition: all 0.3s ease;
	font-size: 16px;
	line-height: 32px;
	color: $color-dove-gray1;
	position: relative;
	overflow: hidden;
	z-index: 1;
	>*{
		z-index: 5;
	}
	&:before{
		display: block;
		content: '';
		border: 2px solid $color-white;
		opacity: 0;
		transition: all 0.3s ease;
		position: absolute;
		top: 28px;
		bottom: 32px;
		left: 30px;
		right: 40px;
		z-index: 2;
	}
	&__tit{
		padding: 0 115px 35px 0;
		font-size: 24px;
		font-weight: 400;
		line-height: 26px;
		color: $color-body;
		position: relative;
	}
	&__entry{
		height: 95px;
		position: relative;
		overflow: hidden;
	}
	&__numb{
		font-size: 108px;
		line-height: 100px;
		color: $color-alto;
		position: absolute;
		top: 33px;
		right: 56px;
	}
	&__img{
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: all 0.3s ease;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		img{
			width: auto;
		    height: auto;
		    max-height: none;
		    max-width: none;
		    min-height: 100%;
		    min-width: 100%;
		    transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		    -webkit-transform: translate(-50%, -50%);
		    position: absolute;
		    top: 50%;
		    left: 50%;
		}
	}
	&:hover{
		box-shadow: 0 5px 7px rgba(0, 0, 0, .2);
		color: $color-white;
		z-index: 10;
		>*{
			color: $color-white;
		}
		&:before{
			opacity: 1;
		}
		.b-type-post__img{
			opacity: 1;
		}
	}
}

// section about
.b-about-home{
	padding: 80px 0 0;
	font-size: 24px;
	line-height: 48px;
	position: relative;
	&__img-right{
		position: absolute;
		top: -80px;
		bottom: 180px;
		left: calc(50% + 220px);
		z-index: 5;
		img{
			height: 100%;
			box-shadow: 0 5px 30px rgba(0, 0, 0, .15);
		}
	}
	&__img-bot{
		width: calc(50% - 20px);
		margin-top: -100px;
		float: right;
		position: relative;
		z-index: 4;
		img{
			width: 100%;
			box-shadow: 0 5px 30px rgba(0, 0, 0, .15);
		}
	}
	&__bg{
		background: $color-gallery;
		position: relative;
		z-index: 1;
	}
	&__tit {
		padding-bottom: 11px;
	}
	&__txt{
		padding: 59px calc(50% - 130px) 43px 0;
		position: relative;
	}
	&__btn{
		max-width: 461px;
		height: 100px;
		background: $color-body;
		line-height: 92px;
		position: relative;
		>*{
			z-index: 2;
		}
		&:before{
			width: 2000px;
			height: 100%;
			display: block;
			content: '';
			background: $color-body;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;
		}
	}
	small{
		display: inline-block;
		font-size: 16px;
		line-height: 32px;
		color: $color-dove-gray1;
	}
}

// section news
.b-news-home{
	padding: 99px 0 81px;
	position: relative;
	&__head{
		padding-bottom: 34px;
	}
}
.b-news-grid{
	margin: 0 -20px;
	position: relative;
	&__col{
		width: 33.33%;
		padding: 33px 20px;
		float: left;
		position: relative;
		&:nth-child(3n+1){
			clear: both;
		}
	}
}
.b-news-post{
	padding-top: 279px;
	font-size: 16px;
	line-height: 32px;
	color: $color-dove-gray1;
	position: relative;
	z-index: 2;
	&__btn{
		width: 100%;
		height: 70px;
		padding: 0 37px;
		background: $color-body;
		line-height: 64px;
		transition: all 0.3s ease;
		position: absolute;
		top: -70px;
		left: 0;
		z-index: 10;
	}
	&__img{
		height: 241px;
		overflow: hidden;
		transition: all 0.3s ease;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		img {
        	width: auto;
		    height: auto;
		    max-height: none;
		    max-width: none;
		    min-height: 100%;
		    min-width: 100%;
		    transition: all 0.3s ease;
		    transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		    -webkit-transform: translate(-50%, -50%);
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    z-index: 1;
        }
	}
	&__tit{
		padding-bottom: 6px;
		font-size: 24px;
		font-weight: 400;
		line-height: 26px;
		color: $color-body;
	}
	&__date{
		padding-bottom: 16px;
		color: $color-azure-radiance;
	}
	&:hover{
		z-index: 5;
		.b-news-post__btn{
			top: 0;
		}
		.b-news-post__img{
			height: 281px;
			box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
			top: -20px;
			left: -40px;
			right: -40px;
			img{
				margin-top: 65px;
			}
		}
	}
}

// section contacts
.b-contacts-home{
	position: relative;
	overflow: hidden;
	&__map{
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
        img {
        	width: auto;
		    height: auto;
		    max-height: none;
		    max-width: none;
		    min-height: 100%;
		    min-width: 100%;
		    transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		    -webkit-transform: translate(-50%, -50%);
		    position: absolute;
		    top: 50%;
		    left: 50%;
        }
	}
	&__row{
		height: 720px;
		padding-bottom: 22px;
	}
}
.b-post-contact{
	max-width: 560px;
	padding: 39px 59px 20px;
	background: $color-white;
	box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
	font-size: 18px;
	line-height: 27px;
	position: relative;
	&__tit{
		padding-bottom: 26px;
	}
	&__item{
		margin-left: 2px;
		padding: 0 0 26px 40px;
		position: relative;
		.icon{
			color: $color-azure-radiance;
			font-size: 15px;
			position: absolute;
			top: 6px;
			left: 0;
			&.icon-mark{
				left: 2px;
			}
			&.icon-mail{
				font-size: 12px;
				top: 8px;
			}
			&.icon-house{
				font-size: 15px;
				top: 5px;
			}
			&.icon-phone{
				font-size: 16px;
				top: 4px;
			}
		}
	}
}

@media (max-width: $lg) {
    @import 'lg';
}

@media (max-width: $md) {
    @import 'md';
}

@media (max-width: $sm) {
    @import 'sm';
}

@media (max-width: $xs) {
    @import 'xs';
}

@media (max-width: $xxs) {
    //@import 'xxs';
}

